a.navbar-brand {
	font-size: 30px;
}

div.header {
	background-color: #ffffff;
}

div.profile-content {
	background-color: #9C27B0;
}

h3.title {
	color: #f5f5f5;
}

h6.desc {
	color: #f5f5f5;
}

div.description {
	color: #f5f5f5;
	margin-bottom: 20px;
}

div.header-contact {
	background-size: cover;
	background-position: top center;
	margin-top: 160px;
}

div.main-raised-contact {
	background-color: #9C27B0;
}

.profile-page .header {
	height: 90px;
}
